[submodule "deps/zig-network"]
	path = deps/zig-network
	url = https://github.com/MasterQ32/zig-network
[submodule "deps/zig-args"]
	path = deps/zig-args
	url = https://github.com/MasterQ32/zig-args
[submodule "deps/pixel_draw"]
	path = deps/pixel_draw
	url = https://gitlab.com/SamuelDeboni/pixel_draw.git
[submodule "deps/zwl"]
	path = deps/zwl
	url = https://github.com/Aransentin/ZWL
[submodule "deps/painterz"]
	path = deps/painterz
	url = https://github.com/ziglibs/painterz
[submodule "deps/zlm"]
	path = deps/zlm
	url = https://github.com/ziglibs/zlm
[submodule "deps/wavefront-obj"]
	path = deps/wavefront-obj
	url = https://github.com/ziglibs/wavefront-obj.git
[submodule "deps/stb"]
	path = deps/stb
	url = https://github.com/nothings/stb
[submodule "deps/zzz"]
	path = deps/zzz
	url = https://github.com/gruebite/zzz
